[
  {
    "name": "Existing test",
    "files": [
      "2048.c",
      "tis_helper.c"
    ],
    "filesystem": {
      "enabled": true,
      "system_errors": false
    },
    "machdep": "gcc_x86_64",
    "value-profile": "interpreter",
    "raw_options": {
      "-val-args": " test"
    }
  },
  {
    "name": "Unreadable input",
    "files": [
      "2048.c",
      "tis_helper.c"
    ],
    "filesystem": {
      "enabled": true,
      "system_errors": false
    },
    "machdep": "gcc_x86_64",
    "value-profile": "interpreter"
  },
  {
    "name": "Any input",
    "files": [
      "2048.c",
      "tis_helper.c"
    ],
    "filesystem": {
      "enabled": true,
      "files":
      [ { "name":"tis-mkfs-stdin",
          "type": "chr"
        }
      ]
    },
    "machdep": "gcc_x86_64",
    "value-profile": "analyzer",
    "slevel": 1000,
    "merge-after-loop": false
  }
]
